extends layout

block content
  #wrapper
    header#header
      .logo
        //- span.icon.fa-diamond
        img(src=imageAlbum)
      .content
        .inner
          h1= title
          p= artist
      nav
        ul
          if lyrics
            li
              a(href='#lyrics') Lyrics
          else
            li
              a(href='#') .
            //- li
            //-   a(href='#work') Work
            //- li
            //-   a(href='#about') About
            //- li
            //-   a(href='#contact') Contact
    #main
      article#lyrics
        h2.major Lyrics
        span.image.main
          img(src=imageAlbum style="width:150px")
        p(style="white-space: pre-line")!= lyrics
      article#work
        h2.major Work
        span.image.main
          img(src='images/pic02.jpg' alt='')
        p
          | Adipiscing magna sed dolor elit. Praesent eleifend dignissim arcu, at eleifend sapien imperdiet ac. Aliquam erat volutpat. Praesent urna nisi, fringila lorem et vehicula lacinia quam. Integer sollicitudin mauris nec lorem luctus ultrices.
        p
          | Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum
          | dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet feugiat tempus.
      article#about
        h2.major About
        span.image.main
          img(src='images/pic03.jpg' alt='')
        p
          | Lorem ipsum dolor sit amet, consectetur et adipiscing elit. Praesent eleifend dignissim arcu, at eleifend sapien imperdiet ac. Aliquam erat volutpat. Praesent urna nisi, fringila lorem et vehicula lacinia quam. Integer sollicitudin mauris nec lorem
          | luctus ultrices. Aliquam libero et malesuada fames ac ante ipsum primis in faucibus. Cras viverra ligula sit amet ex mollis mattis lorem ipsum dolor sit amet.
      article#contact
        h2.major Contact
        form(method='post' action='#')
          .field.half.first
            label(for='name') Name
            input#name(type='text' name='name')
          .field.half
            label(for='email') Email
            input#email(type='text' name='email')
          .field
            label(for='message') Message
            textarea#message(name='message' rows='4')
          ul.actions
            li
              input.special(type='submit' value='Send Message')
            li
              input(type='reset' value='Reset')
        ul.icons
          li
            a.icon.fa-twitter(href='#')
              span.label Twitter
          li
            a.icon.fa-facebook(href='#')
              span.label Facebook
          li
            a.icon.fa-instagram(href='#')
              span.label Instagram
          li
            a.icon.fa-github(href='#')
              span.label GitHub
    footer#footer
      p.copyright
        | © 2018 
        a(href='https://spotify.protype.space') SPOTIFY PROTYPE SPACE
        | .
  #bg

  script.
    setTimeout(function() {
    window.location.reload(1);
    }, (#{duration_ms} - #{progress_ms}));

  script.
    var h = window.innerHeight;
    var w = window.innerWidth;
    var center_y = h * 0.5, center_x = w * 0.5;
    var points = [];
    var spacing = 20;
    var t = 0;
    // generate a sine wave of points
    for(var x = spacing; x < w - (spacing*2); x += spacing) {
    var y = center_y + Math.sin(t) * (center_y - spacing);
    points.push([x, y]);
    t += 0.5;
    }
    var pattern = Trianglify({
    height: h,
    width: w,
    cell_size: 30 + Math.random() * 100
    });
    $('#bg').css({'background-image': 'url('+pattern.png()+')'});
