extends layout

block content
  image(src=imageAlbum style="width:150px")
  h1.title= title
  h2.artist= artist
  
  p(style="white-space: pre-line")!= lyrics

  script.
    setTimeout(function() {
    window.location.reload(1);
    }, (#{duration_ms} - #{progress_ms}));
